.resize {
  max-width:100%;
}

#intro, #process, #eligibility , #lang, #edu, #work
#adapt, #emp, #age{
  display: none;
}

#main{
  margin-top: 100px;
}

/* PIECHART START */
.container1 {
  width: 50%;
  margin-left: 10%;
}

@media only screen and (max-width: 700px) {
  .container1{
    width: 100%;
    margin-left: 0;
  }
}


/* PIECHART ENDS */

.shadow {
  box-shadow: 5px 10px #888888;
  color: black;
}

.style1 {
  background-color: ghostwhite;
  color: black;
  border-radius: 1.5em;
}

#pad {
  padding: 5%;
}

.container-nav{
  box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5);
}

.nav-menu a{
  color: black;
}

.nav-menu li:hover > a{
  color: white;
}
.nav-menu li:hover{
  background-color: #cc1616;
}

.nav-inspiring p{
  color: black;
}

.logo1{
  margin-left: 8%;
  margin-right: 5%;
  width: 150px;
}

@media (max-width: 600px){
.logo1{
  width: 100px;
}
}

.nav-right{
  float: right;
}

.nav-menu{
  margin-right: 8%;
}

#header.header-scrolled{
  background: white;
}

@media (max-width: 992px){
#header {
    top: 0;
    padding: 15px 0;
    background: white;
}
}

.mobile-nav-toggle i{
  color: black;
  vertical-align: sub;
}

@media (max-width: 600px){
.nav-inspiring {
    display: none;
}
}



/* for cards */




.animated {
  visibility: visible;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.slow {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
.animated.fadeIn {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}


@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.odd-about-card{
    background-color: #00000099;
    color: black;
    padding: 30px;
    border-radius: 30px;
    color: white;
}


.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
}

#footer{
  background: #23347C;
}

#footer .footer-top .footer-info{
  background: #dedede;
  color: black;
}

.footer-logo{
  width: 200px;
}

#topbar .contact-info a, #topbar{
  color: white;
}

#topbar{
  background: #6F6F6F;
}

#contact{
  background: white;
}

.icon-box{
  background: white;
}
