.resize {
  max-width:100%;
}

#intro, #process, #eligibility , #lang, #edu, #work
#adapt, #emp, #age{
  display: none;
}

#main{
  margin-top: 100px;
}

/* PIECHART START */
.container1 {
  width: 50%;
  margin-left: 10%;
}

@media only screen and (max-width: 700px) {
  .container1{
    width: 100%;
    margin-left: 0;
  }
}


/* PIECHART ENDS */

.shadow {
  box-shadow: 5px 10px #888888;
  color: black;
}

.style1 {
  background-color: navajowhite;
  color: black;
}

#pad {
  padding: 5%;
}
