<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Visa to Canada</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/logo/logo_cropped1.png' %}" rel="icon">
  <link href="{% static 'assets/img/logo/logo_cropped1.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
  <a href='https://www.freepik.com/vectors/infographic'></a>

  <!-- =======================================================
  * Template Name: Day - v2.1.0
  * Template URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body style="background-color: #dedede">

    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top ">
      <div class="container d-flex">
        <div class="contact-info mr-auto">
          <i class="icofont-envelope"></i> <a href="mailto:Info@visatocanada.pro">info@visatocanada.pro</a>
          <i class="icofont-phone"></i> 604-229-1353
        </div>
        <div class="social-links">
          <!-- <a href="#" class="twitter"><i class="icofont-twitter"></i></a> -->
          <a href="https://www.facebook.com/Visa-to-Canada-101626365178219" class="facebook"><i class="icofont-facebook"></i></a>
          <a href="https://www.instagram.com/visa.tocanada/" class="instagram"><i class="icofont-instagram"></i></a>
          <!-- <a href="#" class="skype"><i class="icofont-skype"></i></a> -->
          <!-- <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a> -->
        </div>
      </div>
    </div>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
      <div class="container-nav d-flex align-items-center">
        <a href="{% url 'index' %}" class="logo1"><img src="{% static 'assets/img/logo/VisaTo_CANADA-logo-8F-final.jpg' %}" alt="" class="img-fluid"></a>
        <a href="#"> <img src="{% static 'assets/img/flag-gif.gif' %}" style="height:40px"> </a>
        <div class="nav-inspiring">
          <p class="font-italic">"With glowing hearts we see thee rise,<br>the true north strong and free!"</p>
        </div>

        <!--  -->
        <!-- <h1 class="logo mr-auto"><a href="{% url 'index' %}">Visa to Canada</a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo  -->

        <nav class="nav-menu ml-auto d-none d-lg-block">
          <ul>
            <li id="news-btn" class="news-btn"><a href="{% url 'blogs' %}">Breaking News</a></li>
            <li> <a href="{% url 'about' %}">About Us</a></li>

            <!-- <li><a href="{% url 'express_entry' %}">Express Entry</a></li>
            <li><a href="{% url 'index' %}">Express Nominee</a></li>
            <li><a href="{% url 'care_giver' %}">Caregiver Program</a></li>
            <li><a href="{% url 'services' %}">Investments</a></li> -->
            <!-- <li><a href="{% url 'portfolio' %}">Portfolio</a></li> -->
            <!-- <li><a href="{% url 'pricing' %}">Pricing</a></li> -->


            <li class="drop-down"><a href="{% url 'index' %}">Services</a>
              <ul>
                <li><a href="{% url 'express_entry' %}">Express Entry</a></li>
                <li><a href="{% url 'nominee' %}">Provincial Nominee</a></li>
                <li><a href="{% url 'care_giver' %}">Caregivers</a></li>
                <!-- <li><a href="{% url 'portfolio' %}">Investments</a></li> -->
                <li><a href="{% url 'student' %}">Students</a></li>
                <!-- <li><a href="{% url 'family' %}">Family Sponsorship</a></li> -->

                <!-- <li class="drop-down"><a href="#">Deep Drop Down</a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Drop Down 2</a></li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li> -->
              </ul>
              <li  class="drop-down"> <a href="{% url 'about' %}">Migration Services</a>
              <ul>
                <li>  <a href="{% url 'Italy_coming_soon' %}">Italy</a> </li>
                <li>  <a href="https://visatoamerica.org/">USA</a> </li>
                <li>  <a href="https://visatospain.pro">Spain</a> </li>
                <li>  <a href="https://visatomalta.com/">Malta</a> </li>
                <li>  <a href="https://visatoportugal.pro/">Portugal</a> </li>
                <li>  <a href="{% url 'Greece_comingsoon' %}">Greece</a> </li>
                <li>  <a href="https://visatocyprus.com/">Cyprus</a> </li>
                <li>  <a href="https://visatoireland.com/">Ireland</a> </li>
                <li>  <a href="https://visatoaustralia.pro/">Australia</a> </li>
                <li>  <a href="https://visatogermany.com/">Germany</a> </li>
                <li>  <a href="https://visatonewzealand.com/">New Zealand</a> </li>
                <li>  <a href="{% url 'Denmark_coming_soon' %}">Denmark</a> </li>



              </ul> </li>
            </li>


            <!-- <li><a href="{% url 'student' %}">Students</a></li> -->

            <li><a href="{% url 'contact' %}">Contact Us</a></li>
            <!-- <li class="drop-down"><a href="">English</a>
              <ul>
                <li><a class="btn" href="/fr/immigration-refugies-citoyennete/campagnes/inde-visa.html" lang="en">English</a></li>
                <li><a class="btn" href="/fr/immigration-refugies-citoyennete/campagnes/inde-visa.html" lang="fr">Français</a></li>
              </ul> -->

          </ul>
        </nav><!-- .nav-menu -->
        <div class="google-div">
          <div style="background-color: #cc1616;margin-left: 10px;" class="drop-down1" id="google_translate_element"></div>
        </div>





      </div>
    </header><!-- End Header -->


{% block body_block %}

{% endblock %}


    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">

            <div class="col-lg-4 col-md-6">
              <div class="footer-info">
                <img class="footer-logo" src="{% static 'assets/img/logo/logo-trans.png' %}" alt="">
                <p>

                88 Queens Quay West, RBC WaterPark Place, Suite 2500,<br> Ontario, Toronto - Waterpark Place, Canada <br><br>

                  <strong>Phone:</strong> 604-229-1353<br>
                  <strong>Email:</strong>&ensp;info@visatocanada.pro<br>
                </p>
                <div class="social-links mt-3">
                  <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
                  <a href="https://www.facebook.com/Visa-to-Canada-101626365178219" class="facebook"><i class="bx bxl-facebook"></i></a>
                  <a href="https://www.instagram.com/visa.tocanada/" class="instagram"><i class="bx bxl-instagram"></i></a>
                  <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
                  <!-- <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}">Home</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about' %}">About Us</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'express_entry' %}">Express Entry</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'express_entry' %}">Provincial Nominee</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'care_giver' %}">Caregivers</a></li>
                <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Investments</a></li> -->
                <li><i class="bx bx-chevron-right"></i> <a href="(% url 'student' %)">Students</a></li>
                <!-- <li><i class="bx bx-chevron-right"></i><a href="{% url 'family' %}">Family Sponsorship</a></li> -->

              </ul>
            </div>

                <!-- <li><i class="bx bx-chevron-right"></i> <a href="{% url 'student' %}">Students</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'contact' %}">Contact Us</a></li>

              </ul>
            </div>

            <! <div class="col-lg-2 col-md-6 footer-links">
              <h4>Migration Services</h4>
              <ul>
                <li>  <a href="#">Italy</a> </li>
                <li>  <a href="#">Spain</a> </li>
                <li>  <a href="#">Malta</a> </li>
                <li>  <a href="#">Portugal</a> </li>
                <li>  <a href="#">Greece</a> </li>
                <li>  <a href="#">Cyprus</a> </li>
                <li>  <a href="#">Ireland</a> </li>
                <li>  <a href="#">Australia</a> </li>
                <li>  <a href="#">Germany</a> </li>
                <li>  <a href="#">New Zealand</a> </li>
                <li>  <a href="#">Denmark</a> </li>

              </ul>
            </div> -->
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Migration Services</h4>
              <ul>
                <li> <i class="bx bx-chevron-right"></i> <a href="{% url 'Italy_coming_soon' %}">Italy</a> </li>
                <li> <i class="bx bx-chevron-right"></i> <a href="https://visatoamerica.org/">USA</a> </li>
                <li> <i class="bx bx-chevron-right"></i> <a href="https://visatospain.pro">Spain</a> </li>
                <li> <i class="bx bx-chevron-right"></i> <a href="https://visatomalta.com/">Malta</a> </li>
                <li> <i class="bx bx-chevron-right"></i> <a href="https://visatoportugal.pro/">Portugal</a> </li>
                <li> <i class="bx bx-chevron-right"></i> <a href="{% url 'Greece_comingsoon' %}">Greece</a> </li>
                <li> <i class="bx bx-chevron-right"></i> <a href="https://visatocyprus.com/">Cyprus</a> </li>
                <li> <i class="bx bx-chevron-right"></i> <a href="https://visatoireland.com/">Ireland</a> </li>
                <li> <i class="bx bx-chevron-right"></i> <a href="http://visatoaustralia.pro/">Australia</a> </li>
                <li> <i class="bx bx-chevron-right"></i> <a href="https://visatogermany.com/">Germany</a> </li>
                <li> <i class="bx bx-chevron-right"></i> <a href="https://visatonewzealand.com/">New Zealand</a> </li>
                <li> <i class="bx bx-chevron-right"></i> <a href="{% url 'Denmark_coming_soon' %}">Denmark</a> </li>

              </ul>
              </div>
              <div class="col-lg-2 col-md-6 footer-links">
          <h4>Important Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'terms' %}">Terms of Service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'policy' %}">Privacy Policy</a></li>
            <li> <i class="bx bx-chevron-right"></i><a href="{% url 'general' %}">Disclaimer</a> </li>
            <li> <i class="bx bx-chevron-right"></i><a href="{% url 'givesit' %}">Giving Back</a> </li>

          </ul>
        </div>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Visa To Canada</span></strong>. All Rights Reserved
          &copysr; Powered by <strong> <span>unisighttechnologies and digitalcue media</span></strong>
        </div>

      </div>
    </footer> <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/js/student.js' %}"></script>
    <script src="{% static 'assets/js/chart.js' %}"></script>
    <script src="{% static 'assets/js/chart2.js' %}"></script>
    <script src="{% static 'assets/js/chart3.js' %}"></script>
    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <!-- Font awesome -->
  <script src="https://kit.fontawesome.com/f2148c770f.js" crossorigin="anonymous"></script>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>
</html>
