{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<!-- <section id="hero" class="d-flex align-items-center">
  <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
    <h1>Welcome to Canada</h1>
    <h2>We are team of talanted designers making websites with Bootstrap</h2>
    <a href="#about" class="btn-get-started scrollto">Get Started</a>
  </div>
</section> --><!-- End Hero -->

<main id="main">


  <section id="one" class="wrapper style1">

    <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Caregiver Program</h2>
          <p>Home Child Care Provider Pilot and Home Support Worker Pilot </p>
          <div class="section-title-details">
            As of June 18, 2019, the Home Child Care Provider Pilot (NOC 4411) and Home Support Worker Pilot (NOC 4412) were launched.
          </div>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">ELIGIBILITY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">REQUIREMENTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">APPLICATION PROCESS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-4">TAKE A LANGUAGE TEST</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-5">GET YOUR EDUCATION ASSESSED</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-6">HOW TO APPLY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-7">AFTER YOU APPLY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-8">GET YOUR WORK EXPERIENCE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-9">DECISION ON YOUR PERMANENT RESIDENCE</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Eligibility</h3>
                    <p>Individuals get an open work permit to come to Canada and work temporarily. This work permit:</p>
                    <ul>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> is occupation-restricted (must work in that specific occupation) </li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> doesn’t need a Labour Market Impact Assessment (LMIA) </li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> let’s individual get the work experience needed to be eligible for permanent residence </li>
                    </ul>
                    <p>If individual recently worked as a home childcare provider or support worker, the experience may count towards eligibility for permanent residence.</p>
                  </div>
                  <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/sunsweet.jpeg" alt="" class="img-fluid">
                </div> -->
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-10 details order-2 order-lg-1">
                  <h3>Requirements</h3>
                  <ul>
                    <li class="font-italic"><i class="icofont-check-circled"></i>	Job-offer </li>
                    <li class="font-italic"><i class="icofont-check-circled"></i>	Language Proficiency, CLB 5.</li>
                    <li class="font-italic"><i class="icofont-check-circled"></i> 	Education, 1- year Canadian post-secondary education or foreign equivalent.</li>
                    <li class="font-italic"><i class="icofont-check-circled"></i>	Work experience in NOC codes 4411 or 4412.</li>
                  </ul>
                  <section id="more">
                    <a href=" https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/caregivers/child-care-home-support-worker/some-experience-eligibility.html" class="btn-get-started scrollto">More Info</a>
                  </section>
                  <p></p>
                </div>
                <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/suntop.jpeg" alt="" class="img-fluid">
              </div> -->
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-11 details order-2 order-lg-1">
                <h3>Application Process</h3>
                <p>1. OBTAIN A WORK PERMIT</p>
                <ul class="font-italic">
                  <li><i class="icofont-check-circled"></i> Submit application for permanent residence and work or study permit(s) for individual and family.</li>
                  <li><i class="icofont-check-circled"></i> Get the occupation specific work permit to obtain the work experience needed for PR</li>
                  <li><i class="icofont-check-circled"></i> Get the work or study permits for spouse or common-law partner and children to accompany them.</li>

                </ul>
                <!-- <p class="font-italic"> a) Submit application for permanent residence and work or study permit(s) for individual and family.</p>
                <p class="font-italic"> b) Get the occupation specific work permit to obtain the work experience needed for PR</p>
                <p class="font-italic"> c) Get the work or study permits for spouse or common-law partner and children to accompany them.</p> -->
                <p>2. PERMANENT RESIDENT (PR)</p>
                <ul>
                  <li class="font-italic"><i class="icofont-check-circled"></i>Submit your documentation proof of two-years work experience to obtain permanent residence.</li>
                </ul>

                <p></p>
              </div>
              <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
              <img src="assets/img/Priyaoils.jpeg" alt="" class="img-fluid">
            </div> -->
          </div>
        </div>

        <div class="tab-pane" id="tab-4">
          <div class="row">
            <div class="col-lg-10 details order-2 order-lg-1">
              <h3>TAKE A LANGUAGE TEST</h3>
              <div class="">
                To prove your language skills in English or French, you need to take an approved language test. To do this:
                <ul style="list-style:disc;">
                  <li>schedule your test with an approved agency</li>
                  <li>pay the test costs</li>
                </ul>
                After you take your test and get your results, compare them to the charts to see what <a href="https://www.language.ca/resourcesexpertise/on-clb/">Canadian Language Benchmark (CLB)</a> level you have.
              </div>
              <br>
              <h4>Approved Language Test <h6> Language skills (maximum 28 points)</h6></h4>
              <br>
              <h5>Inside and outside Canada:</h5>
              <ul>
                <li class="font-italic"><i class="icofont-check-circled"></i>	The <a href="#">Canadian English Language Proficiency Index Program (General test)</a> can be taken through Paragon Testing Enterprises Inc. </li>
                <li class="font-italic"><i class="icofont-check-circled"></i>	The <a href="#">International English Language Testing System</a> (General test) can be taken through Cambridge Assessment English, IDP Australia and The British Council</li>
                <li class="font-italic"><i class="icofont-check-circled"></i>	The <a href="#">Test d’évaluation de français </a>(TEF Canada) can be taken through The Paris Chamber of Commerce and Industry.</li>
                <li class="font-italic"><i class="icofont-check-circled"></i>	The <a href="#">Test de connaissance du français</a> (TCF Canada) (in French only) can be taken through le Centre international d’études pédagogiques (CIEP).</li>
                <section id="more">
                  <a href=" https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/caregivers/child-care-home-support-worker/some-experience-language-testing.html" class="btn-get-started scrollto">More Info</a>
                </section>
              </ul>
            </div>
            <div class="col-lg-2 text-center order-1 order-lg-2">
              <img src="assets/img/suntop.jpeg" alt="" class="img-fluid">
            </div>
          </div>
        </div>

        <div class="tab-pane" id="tab-5">
          <div class="row">
            <div class="col-lg-10 details order-2 order-lg-1">
              <h3>GETTING YOUR EDUCATION ASSESSED</h3>
              <div class="">
                If you don’t have a completed Canadian one-year post-secondary education credential or higher, you must get an Educational Credential Assessment (ECA) from an approved organization.<br><br>
                An ECA is used to check that your completed foreign educational credential is valid and equal to a completed Canadian one-year post-secondary education credential or higher. This can be a degree, diploma, certificate or other proof of your education.
              </div>
              <br>
              <h5>Choose a designated organization</h5>
              <br>
              <ul>
                <li class="font-italic"><i class="icofont-check-circled"></i> <a href="#">Comparative Education Service – University of Toronto School of Continuing Studies</a><h6>designated: April 17, 2013</h6></li>
                <li class="font-italic"><i class="icofont-check-circled"></i> <a href="#">International Credential Assessment Service of Canada</a><h6>designated: April 17, 2013</h6></li>
                <li class="font-italic"><i class="icofont-check-circled"></i> <a href="#">World Education Services </a><h6>designated: April 17, 2013</h6></li>
                <li class="font-italic"><i class="icofont-check-circled"></i> <a href="#">International Qualifications Assessment Service (IQAS)</a><h6>designated: August 6, 2015</h6></li>
                <li class="font-italic"><i class="icofont-check-circled"></i> <a href="#">International Credential Evaluation Service </a><h6>designated: August 6, 2015</h6></li>
                <section id="more">
                  <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/caregivers/child-care-home-support-worker/some-experience-education-assessed.html" class="btn-get-started scrollto">More Info</a>
                </section>
              </ul>
            </div>
            <div class="col-lg-2 text-center order-1 order-lg-2">
              <img src="assets/img/suntop.jpeg" alt="" class="img-fluid">
            </div>
          </div>
        </div>


        <div class="tab-pane" id="tab-6">
          <div class="row">
            <div class="col-lg-10 details order-2 order-lg-1">
              <h3>HOW TO APPLY</h3>
              <section id="more">
                  <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/caregivers/child-care-home-support-worker/some-experience-apply.html" class="btn-get-started scrollto">CLICK HERE</a>
                </section>
            </div>
            <div class="col-lg-2 text-center order-1 order-lg-2">
              <img src="assets/img/suntop.jpeg" alt="" class="img-fluid">
            </div>
          </div>
        </div>

        <div class="tab-pane" id="tab-7">
          <div class="row">
            <div class="col-lg-10 details order-2 order-lg-1">
              <h3>AFTER TO APPLY</h3>
              <section id="more">
                  <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/caregivers/child-care-home-support-worker/some-experience-after-apply.html" class="btn-get-started scrollto">CLICK HERE</a>
                </section>
            </div>
            <div class="col-lg-2 text-center order-1 order-lg-2">
              <img src="assets/img/suntop.jpeg" alt="" class="img-fluid">
            </div>
          </div>
        </div>

        <div class="tab-pane" id="tab-8">
          <div class="row">
            <div class="col-lg-10 details order-2 order-lg-1">
              <h3>GET YOUR WORK EXPERIENCE</h3>
              <section id="more">
                  <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/caregivers/child-care-home-support-worker/some-experience-get-experience.html" class="btn-get-started scrollto">CLICK HERE</a>
                </section>
            </div>
            <div class="col-lg-2 text-center order-1 order-lg-2">
              <img src="assets/img/suntop.jpeg" alt="" class="img-fluid">
            </div>
          </div>
        </div>

        <div class="tab-pane" id="tab-9">
          <div class="row">
            <div class="col-lg-10 details order-2 order-lg-1">
              <h3>DECISION ON YOUR PERMANENT RESIDENCE</h3>
              <section id="more">
                  <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/caregivers/child-care-home-support-worker/some-experience-permanent-residence-decision.html" class="btn-get-started scrollto">CLICK HERE</a>
                </section>
            </div>
            <div class="col-lg-2 text-center order-1 order-lg-2">
              <img src="assets/img/suntop.jpeg" alt="" class="img-fluid">
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>
</section>
</section>

  <!-- End Specials Section -->

</main>





{% endblock %}
