{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<!-- <section id="hero" class="d-flex align-items-center">
  <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
    <h1>Welcome to Canada</h1>
    <h2>We are team of talanted designers making websites with Bootstrap</h2>
    <a href="#about" class="btn-get-started scrollto">Get Started</a>
  </div>
</section> --><!-- End Hero -->

<main id="main">




  <section id="specials" class="specials">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Caregiver Program</h2>
        <p>Home Child Care Provider Pilot and Home Support Worker Pilot </p>
        <div class="section-title-details">
          As of June 18, 2019, the Home Child Care Provider Pilot (NOC 4411) and Home Support Worker Pilot (NOC 4412) were launched.
        </div>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show" data-toggle="tab" href="#tab-1">ELIGIBILITY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-2">REQUIREMENTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-3">APPLICATION PROCESS</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Eligibility</h3>
                  <p>Individuals get an open work permit to come to Canada and work temporarily. This work permit:</p>
                  <p class="font-italic"> <i class="icofont-check-circled"></i> is occupation-restricted (must work in that specific occupation) </p>
                  <p class="font-italic"> <i class="icofont-check-circled"></i> doesn’t need a Labour Market Impact Assessment (LMIA) </p>
                  <p class="font-italic"> <i class="icofont-check-circled"></i> let’s individual get the work experience needed to be eligible for permanent residence </p>
                  <p>If individual recently worked as a home childcare provider or support worker, the experience may count towards eligibility for permanent residence.</p>
                </div>
                <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/sunsweet.jpeg" alt="" class="img-fluid">
                </div> -->
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Requirements</h3>
                  <p class="font-italic"><i class="icofont-check-circled"></i>	Job-offer </p>
                  <p class="font-italic"><i class="icofont-check-circled"></i>	Language Proficiency, CLB 5.</p>
                  <p class="font-italic"><i class="icofont-check-circled"></i> 	Education, 1- year Canadian post-secondary education or foreign equivalent.</p>
                  <p class="font-italic"><i class="icofont-check-circled"></i>	Work experience in NOC codes 4411 or 4412.</p>
                  <p></p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/suntop.jpeg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-3">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Application Process</h3>
                  <p>1. OBTAIN A WORK PERMIT</p>
                  <ul class="font-italic" list-style="none">
                    <li> Submit application for permanent residence and work or study permit(s) for individual and family.</li>
                    <li> Get the occupation specific work permit to obtain the work experience needed for PR</li>
                    <li> Get the work or study permits for spouse or common-law partner and children to accompany them.</li>

                  </ul>
                  <!-- <p class="font-italic"> a) Submit application for permanent residence and work or study permit(s) for individual and family.</p>
                  <p class="font-italic"> b) Get the occupation specific work permit to obtain the work experience needed for PR</p>
                  <p class="font-italic"> c) Get the work or study permits for spouse or common-law partner and children to accompany them.</p> -->
                  <p>2. PERMANENT RESIDENT (PR)</p>
                  <p class="font-italic">Submit your documentation proof of two-years work experience to obtain permanent residence.</p>

                  <p></p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/Priyaoils.jpeg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End Specials Section -->

</main>





{% endblock %}
