{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<!-- ------------------MODALS START----------------------- -->
<!-- Modal education-->
<div class="modal fade" id="main_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Compute your score!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="score-form">


          <div class="form-group">

            <b><label for="">Enter your Language score: </label></b><br>
            <label for="">(If not given any test, <a onclick="showPopup()" href="#">check out these links</a></label><br>

            <input type="number" name="language" min="0" max="28" value=""><br><br>
            <!-- <span class="popuptext show" id="myPopup">
              We only need your email to send you payment receipt.<br><br>
              We won't be storing your email in our database.
            </span> -->
            <b><label for="">Select your education status:</label></b>
            <select class="modal-dropdown" name="education">
              <option value="25">
                University Degree at the Doctoral(PHD) Level
              </option>
              <option value="23">
                University Degree at the Master's Level or equal OR University Entry
                  to practice proffesional degree.
              </option>
              <option value="21">Canadian Post Secondary Degree OR Diploma
                 for programs longer than 3 or equal years.
               </option>
              <option value="19">
                Canadian Post Secondary Degree OR Diploma
                for programs longer than 2 or equal years.
              </option>
              <option value="15">
                Canadian Post Secondary Degree OR Diploma
                for programs longer than 1 or equal years.
              </option>
              <option value="5">
                Canadian High School Diploma OR Equal
              </option>
            </select>
          </div>

          <b><label for="">Select your work experience:</label></b><br>
          <select class="modal-dropdown" name="work">
            <option value="15">6 or more years</option>
            <option value="13">4-5 years</option>
            <option value="11">2-3 years</option>
            <option value="9">1 year</option>
          </select><br><br>

          <b><label for="">Select your age:</label></b><br>
          <select class="modal-dropdown" name="age">
            <option value="0">Under 18</option>
            <option value="12">18-35</option>
            <option value="11">36</option>
            <option value="10">37</option>
            <option value="9">38</option>
            <option value="8">39</option>
            <option value="7">40</option>
            <option value="6">41</option>
            <option value="5">42</option>
            <option value="4">43</option>
            <option value="3">44</option>
            <option value="2">45</option>
            <option value="1">46</option>
            <option value="0">47</option>
          </select><br><br>

          <b><label for="">Select an appropriate option:</label></b><br>
          <select class="modal-dropdown" name="family">
            <option value="5">Your spouse or partner's language level</option>
            <option value="5">Your study in Canada</option>
            <option value="5">Your spouse or partner's past study in Canada</option>
            <option value="10">Your past your in Canada</option>
            <option value="5">Your spouse or common-law partner's past work in Canada</option>
            <option value="5">Arranged Employment in Canada</option>
            <option value="5">Relatives in Canada(Check this criteria's description below)</option>

          </select><br><br>

          <b><label for="">Select your Employment status:</label></b>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="emp" id="exampleRadios1" value="10" checked>
            <label class="form-check-label" for="exampleRadios1">
              Valid Job offer
            </label>
          </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="emp" id="exampleRadios2" value="0">
          <label class="form-check-label" for="exampleRadios2">
              No Job offer
          </label>
        </div><br>
        <button type="button" onclick="calculateScore()" class="modal-btn">Calculate Now</button>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- ------------------MODALS END----------------------- -->


<main id="main">


<section id="services" class="services">
  <div class="container">

    <div class="section-title">
      <span style="color: #444444" >Express Entry</span><br>
      <img style="width: 100%" src="{% static 'assets/img/Graphics_exp_entry.jpg' %}" alt="">


    </div>
    <!-- <div class="graphic1">
    </div> -->


    <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <p>Getting Started </p>
          <!-- <div class="section-title-details">
            As of June 18, 2019, the Home Child Care Provider Pilot (NOC 4411) and Home Support Worker Pilot (NOC 4412) were launched.
          </div> -->
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">STEP 1:<br>Find out if you're eligible</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">STEP 2:<br>Get your Documents ready</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">STEP 3:<br>Submit your profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-4">STEP 4:<br>Receive an invitation, apply for Permanent Residence</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Eligibility</h3>
                    <p>There are two ways to find out if you’re eligible for a program that is part of Express Entry:</p>
                    <ul>
                    <li class="font-italic"> <i class="icofont-check-circled"></i><a
                      href="https://www.canada.ca/en/immigration-refugees-citizenship/services/come-canada-tool-immigration-express-entry.html">
                      Answer a few questions</a> to see if you meet the minimum requirementsOnce you have taken the
                       language test and have your result scores </li>
                    <li class="font-italic"> <i class="icofont-check-circled"></i>
                      <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/eligibility.html">Read the detailed requirements</a> for each program</li>
                    </ul>
                  </div>
                  <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/sunsweet.jpeg" alt="" class="img-fluid">
                  </div> -->
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Required Documents</h3>

                    <p>You need documents, such as language test results,
                      to show that you’re eligible for Express Entry. Some
                      documents take a long time to get, so you should get them
                      ready now. <br><br><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/documents.html">Get the documents you need</a></p>

                  </div>
                  <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/suntop.jpeg" alt="" class="img-fluid">
                  </div> -->
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-11 details order-2 order-lg-1">
                    <h3>Profile Submission</h3>
                    <p>Your Express Entry profile is where you give us information about yourself.
                    If you’re eligible, we’ll accept you into our pool of candidates.
                    You’ll be ranked in the Express Entry pool using a points-based system. Your score is based on the information in your profile.
                    </p>
                    <ul class="font-italic">
                      <li><i class="icofont-check-circled"></i><a href="https://www.cic.gc.ca/english/immigrate/skilled/crs-tool.asp">
                      </a>Check your score.</li>
                      <li><i class="icofont-check-circled"></i><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/submit-profile.html">
                      </a>Submit your profile.</li>

                    </ul>
                    <!-- <p class="font-italic"> a) Submit application for permanent residence and work or study permit(s) for individual and family.</p>
                    <p class="font-italic"> b) Get the occupation specific work permit to obtain the work experience needed for PR</p>
                    <p class="font-italic"> c) Get the work or study permits for spouse or common-law partner and children to accompany them.</p> -->

                    <br>
                  </div>
                  <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/Priyaoils.jpeg" alt="" class="img-fluid">
                  </div> -->
                </div>
              </div>

              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-11 details order-2 order-lg-1">
                    <h3>Further Process</h3>
                    <p>We send invitations to apply to the candidates with the
                      highest scores in the pool. If we invite you to apply,
                      you’ll have 90 days to submit your application for permanent residence.
                      We’ll process most complete applications that have all the
                      supporting documents in 6 months or less. <br><br>
                      <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/apply-permanent-residence.html">
                        Apply for permanent residence</a>
                      </p>

                  </div>
                  <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/Priyaoils.jpeg" alt="" class="img-fluid">
                  </div> -->
                </div>
              </div>

          </div>
        </div>

      </div>
    </section>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" onclick="showContent('intro')" data-aos="fade-up">
        <div class="icon-box">
          <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
          <img class="resize" src="https://img.freepik.com/free-photo/group-happy-young-students-university_85574-4531.jpg?size=626&ext=jpg" alt="">
          <br><br><h4><a href="">Federal Skilled Worker Class </a></h4>
          <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" onclick="showContent('eligibility')" data-aos="fade-up" data-aos-delay="150">
        <div class="icon-box">

           <img class="resize" src="https://img.freepik.com/free-photo/group-happy-young-students-university_85574-4531.jpg?size=626&ext=jpg" alt="">
          <br><br><h4><a href="">Federal Skilled Trades Class </a></h4>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" onclick="showContent('process')" data-aos="fade-up" data-aos-delay="300">
        <div class="icon-box">
          <!-- <div class="icon"><i class="bx bx-tachometer"></i></div> -->
          <img class="resize" src="https://img.freepik.com/free-photo/group-happy-young-students-university_85574-4531.jpg?size=626&ext=jpg" alt="">
        <br><br>  <h4><a href="">Canadian Experience Class</a></h4>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->


<section style="background: white;">

  <div id="intro">
      <div class="container" data-aos="zoom-in">
    <p>1Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    </div>
  </div>

  <div id="eligibility">
      <div class="container" data-aos="zoom-in">
    <p>2Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

  <div id="process">
      <div class="container" data-aos="zoom-in">
    <p>3Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    </div>
  </div>

</section>

<section style="background: white;">
  <div class="container">
    <h1>Skilled Workers Selection <br> Factors for Immigration</h1>
    <p>The minimum score required to be eligible for permanent residence <br> in the Express Entry System
      under the Federal skill Workers Program is <b>67 points</b> <br> out of <b>100 points</b>.
 <br><br>The six selection factors and the maximum points for each factor is:
</p>

  </div>
  <div class="row">

  <div class="container1">

    <div>
      <canvas id="myChart"></canvas>
    </div>
  </div>

  <div class="col">
    <div class="container" style="margin-top: 50px; padding-right: 100px;" >
      <div id="edu">
        <h1>Education(25 Points)</h1>
        <p>
          Foreign nationals (FN) get points for their post-secondary
          education – degree, diploma or certificate. In order to get points in
          this category the FN needs to have an Educational Credential Assessment (ECA)
          report from a designated organization showing that their education is equivalent
          to a completed certificate, diploma or degree from a Canadian post-secondary institution.
          Having a Master’s degree will qualify for more points.</p>

      </div>

      <div id="lang">

        <h1>Language(28 Points)</h1>
        <p>Canada has two official languages - English and French.
          Foreign nationals (FN) who desire to immigrate to Canada need to have
          good command in either of the two official languages. To prove their
          language level, they need to have an approved language test. They need
          to get a minimum level of Canadian Language Benchmark (CLB) 7 for
          English, or Niveaux de compétencelinguistiquecanadiens (NCLC) 7 for
          French in listening, reading, writing and speaking. Depending on their
          score, they can get a maximum of 28 points.</p>

      </div>

      <div id="work">
        <h1>Work Experience(15 Points)</h1>
        <p>Foreign nationals (FN) get points for the number of years
          they have worked full-time doing paid work (at least 30 hours per week,
          or an equal amount of part-time [15 hours per week for 24 months]).
          FN will get more points if they have worked in Canada while they were
          studying. Having six or more years’ experience affords them 15 points.</p>
      </div>

      <div id="adapt">
        <h1>Adaptability(10 Points)</h1>

        <p>Foreign nationals (FN) and their spouse can earn 10 points
          in this category. If the spouse’s language level in either French or
          English is CLB 4 in all 4 language abilities (listening, reading,
          writing and speaking), they are allotted 5 points. If the spouse
          has worked or studied in Canada, they are allotted 5 points. If the
          FN has a relative in Canada, they qualify for 5 additional points.</p>
      </div>

      <div id="emp">

        <h1>Arranged Employment(10 Points)</h1>

        <p>Foreign nationals (FN) can get points if they have a job
          offer of at least one year from a Canadian employer. They need to
          get the job offer before they apply to come to Canada as a Federal
          Skilled Worker. If the employer has made a valid job offer, they
          will get 10 points. </p>
      </div>

      <div id="age">

        <h1>Age(12 Points)</h1>

        <p>Age is a key factor if a FN want to reach the 67 points
          threshold.  FN between the age group of 18-35 get maximum points.
          As the age increases the points for age drop.</p>
      </div>


    </div>
  </div>

    </div>

    <div class="text-center">
      <br><button onclick="showModal()" class="express-btn" type="button">Calculate your score!</button>
    </div>

    <div class="container1 container">
      <div class="text-center performance">
      <br><h1>Your Performance:</h1>

      </div>
      <div class="resultChart">
        <canvas id="newChart"></canvas>
      </div>

      <div class="text-center">
        <br><h3 class="insert-here-1"></h3>
        <h4 class="insert-here-2"></h4>
      </div>
    </div>

</section>


</main>

<script type="text/javascript">
  $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock %}
