{% extends 'base.html' %}
{% load static %}
{% block body_block %}



<main id="main">


<section id="services" class="services">
  <div class="container">

    <div class="section-title">

      <h2>Express Entry</h2>
      <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" onclick="showContent('intro')" data-aos="fade-up">
        <div class="icon-box">
          <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
          <img class="resize" src="https://img.freepik.com/free-photo/group-happy-young-students-university_85574-4531.jpg?size=626&ext=jpg" alt="">
          <h4><a href="">Introduction</a></h4>
          <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" onclick="showContent('eligibility')" data-aos="fade-up" data-aos-delay="150">
        <div class="icon-box">

           <img class="resize" src="https://img.freepik.com/free-photo/group-happy-young-students-university_85574-4531.jpg?size=626&ext=jpg" alt="">
          <h4><a href="">Eligibilty</a></h4>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" onclick="showContent('process')" data-aos="fade-up" data-aos-delay="300">
        <div class="icon-box">
          <!-- <div class="icon"><i class="bx bx-tachometer"></i></div> -->
          <img class="resize" src="https://img.freepik.com/free-photo/group-happy-young-students-university_85574-4531.jpg?size=626&ext=jpg" alt="">
          <h4><a href="">Processing Criteria</a></h4>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->


<section>

  <div id="intro">
      <div class="container" data-aos="zoom-in">
    <p>1Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    </div>
  </div>

  <div id="eligibility">
      <div class="container" data-aos="zoom-in">
    <p>2Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

  <div id="process">
      <div class="container" data-aos="zoom-in">
    <p>3Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    </div>
  </div>

</section>

<section>
  <div class="container">
    <h1>Selection Factors for Immigration</h1>

  </div>
  <div class="row">

  <div class="container1">

    <div>
      <canvas id="myChart"></canvas>
    </div>
  </div>

  <div class="col">
    <div class="container" style="margin-top: 50px; padding-right: 100px;" >
      <p id="edu">Foreign nationals (FN) get points for their post-secondary
        education – degree, diploma or certificate. In order to get points in
        this category the FN needs to have an Educational Credential Assessment (ECA) report from a designated organization showing that their education is equivalent to a completed certificate, diploma or degree from a Canadian post-secondary institution. Having a Master’s degree will qualify for more points.</p>
      <p id="lang">Canada has two official languages - English and French.
        Foreign nationals (FN) who desire to immigrate to Canada need to have
        good command in either of the two official languages. To prove their
        language level, they need to have an approved language test. They need
         to get a minimum level of Canadian Language Benchmark (CLB) 7 for
         English, or Niveaux de compétencelinguistiquecanadiens (NCLC) 7 for
         French in listening, reading, writing and speaking. Depending on their
          score, they can get a maximum of 28 points.</p>
      <p id="work">Foreign nationals (FN) get points for the number of years
        they have worked full-time doing paid work (at least 30 hours per week,
         or an equal amount of part-time [15 hours per week for 24 months]).
         FN will get more points if they have worked in Canada while they were
         studying. Having six or more years’ experience affords them 15 points.</p>
      <p id="adapt">Foreign nationals (FN) and their spouse can earn 10 points
        in this category. If the spouse’s language level in either French or
        English is CLB 4 in all 4 language abilities (listening, reading,
        writing and speaking), they are allotted 5 points. If the spouse
        has worked or studied in Canada, they are allotted 5 points. If the
        FN has a relative in Canada, they qualify for 5 additional points.</p>
      <p id="emp">Foreign nationals (FN) can get points if they have a job
        offer of at least one year from a Canadian employer. They need to
        get the job offer before they apply to come to Canada as a Federal
        Skilled Worker. If the employer has made a valid job offer, they
        will get 10 points. </p>
      <p id="age">Age is a key factor if a FN want to reach the 67 points
         threshold.  FN between the age group of 18-35 get maximum points.
         As the age increases the points for age drop.</p>

    </div>
  </div>

    </div>
</section>



</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock %}
