{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<main id="main">


  <section id="pricing" class="pricing">
    <div class="container">

      <div class="section-title">
          <span style="color: black">FAMILY SPONSORSHIP</span>

      </div>
      <p class="text-center">Spouse, common-law partner, conjugal partner, dependent children, adopted children, parents, grandparents, relatives</p>

          <br><br><br>
      <div id="content" class="row fadeIn animated odd-about-card">

      <div class="col-md-6">

        <img src="https://images.unsplash.com/photo-1541339907198-e08756dedf3f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="" class="img-responsive">


      </div>

      <div id="our-mission" class="col-md-6">

        <h2 class="title-style-2">Details available on the below link:<span class="title-under"></span></h2><br>
        <ul class="text-left" type="circle">
          <li>About the process,</li><br>
          <li>Who can apply,</li><br>
          <li>Get the right documents,</li><br>
          <li>How to apply,</li><br>
          <li>After you apply,</li><br>
          <li>Prepare for arrival.</li><br>

        </ul>
        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada/study-permit/get-documents.html"
        class="btn-get-started">Get Started</a>

      </div>

</div>
<br>

        <!-- <div id="pad" class="container2 style1">

        <a style="font-size: 20px" href="https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada/study-permit/get-documents.html"><u>documents you need before you apply for a study permit</u></a>
          <p>Use this link below to get the info</p><br>

          <ul class="text-left">
            <p> 1. About the process,</p>
            <p> 2. Who can apply,</p>
            <p> 3. Get the right documents,</p>
            <p> 4. How to apply,</p>
            <p> 5. After you apply,</p>
            <p> 6. Prepare for arrival.</p>
          </ul>



      </div> -->



      <div class="row">

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="150">
          <div class="box">
            <i style="color: #CC1616" class="fas fa-door-open fa-5x"></i><br><br>
            <h2>INTAKE</h2>
            <p>We intake students in following <br> months only:</p>
            <ul class="text-left">
              <li>September</li>
              <li>January</li>
              <li>May</li>
              <!-- <li class="na">Pharetra massa</li>
              <li class="na">Massa ultricies mi</li> -->
            </ul>
            <br>
            <br>

            <!-- <div class="btn-wrap">
              <a href="#" class="btn-buy">Read More</a>
            </div> -->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="zoom-in">
          <div class="box featured">
            <i style="color: white;" class="fas fa-clock fa-5x"></i><br><br>
            <h2>TIME FRAME</h2>
            <p>Time frames for processing:</p>
            <ul>
              <li>•	3 -6 months for processing</li>
              <li>•	2 – 3 months for letter of acceptance</li>
              <li>•	1 – 2 months for study permit</li>
              <!-- <li>Pharetra massa</li>
              <li class="na">Massa ultricies mi</li> -->
            </ul>
            <br><br><br>
            <!-- <div class="btn-wrap">
              <a href="#" class="btn-buy">Read More</a>
            </div> -->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
          <div class="box">
            <i style="color: #CC1616" class="fas fa-clipboard-check fa-5x"></i><br><br>
            <h2>ELIGIBLE FOR</h2>

            <ul>
              <li>•	3 years of Post Graduate Work Permit </li>
              <li>•	Create profile in Express Entry, Canadian Experience Class after one-year Canadian work experience</li>
              <li>•	Based on the comprehensive ranking score (CRS) eligible to receive an invitation to apply (ITA) for permanent residence (PR)</li>
              <li>•	Submit application for PR</li>

            </ul>
            <!-- <div class="btn-wrap">
              <a href="#" class="btn-buy">Read More</a>
            </div> -->
          </div>
        </div>

      </div>
      <br><br>
      <section id="one" class="wrapper style1">

          <div id="pad" class="container2">

            <header class="special">
              <h1 class="text-center"><u style="color: #23347C">STUDENT PROCESSING CRITERIA</u></h1><br>
                            <h2 class="text-center">Initial Intake</h2> <br> <br>
  <!--							<p>Premium Aluminium Windows</p>-->
            </header>
            <div class="content">
                            <p> 1.	Two-year diploma program.</p>
                            <p> 2.	Forward all required documentation: Resume, passport copy, high school certificate, grade 10/12, marks above 60 or 70, etc.</p>
                            <p> 3.	IELTS academic – 6.0 in listening, reading, writing, speaking.</p>
                            <p> 4.	Proof of funds.</p>

                            <p>
                              <i class="fas fa-hand-point-right"></i>

                              <strong>No scholarship, No PhD, No Master’s.</strong></p>

            </div>
            <br>
            <header class="special">

                    <h2 class="text-center">Fees</h2><br><br>
  <!--							<p>Premium Aluminium Windows</p>-->
            </header>
            <div class="content">
                            <p>
                          <i class="fas fa-hand-point-right"></i>

                              Towards communications: VisaToAmerica (VTA) provides student’s profile for assessment.
JM Immigration assesses student’s profiles, college search, completion of application forms, submission to college, communication with college
</p>
                            <p>1.	CAD $250 (at the start of process, non-refundable).</p>
                            <p>2.	College application fees varies between colleges: CAD $100 to 150, paid by student.</p>
                            <p>3.	College acceptance depends on the number of students.</p>


          </div>
          <br>

          <header class="special">

                          <h2 class="text-center">College or University</h2><br><br>
<!--							<p>Premium Aluminium Windows</p>-->
          </header>
          <div class="content"  >
                          <p>
                            <i class="fas fa-hand-point-right"></i>

                            JM Immigration will recommend one institution.</p>

          </div>
          <br>

          <header class="special">

                          <h2 class="text-center">Time Frame</h2><br><br>
<!--							<p>Premium Aluminium Windows</p>-->
          </header>
          <div class="content"  >
                          <p>1.	From the time student documents received: 2 to 4 months for Letter of Acceptance (LOA).</p>
                          <p>2.	Student is kept updated when we receive communication from college.</p>
                          <p>3.	5 months ideal time for processing. </p>
                          <p>4.	Time required for processing Study Permit application from IRCC.</p>
          </div>
          <br>

          <header class="special">

                          <h2 class="text-center">Student Permit fees</h2><br><br>
<!--							<p>Premium Aluminium Windows</p>-->
          </header>
          <div class="content"  >
                          <p>1.	CAD $1,500 – Our professional fees for preparing application submission to IRCC.</p>
                          <p>2.	Student Permit fees from IRCC – CAD $ 150.00, student pays, provides us with Credit Card details for processing.</p>

          </div>
          <br>

          <header class="special">

                          <h2 class="text-center">Commission structure</h2><br><br>
<!--							<p>Premium Aluminium Windows</p>-->
          </header>
          <div class="content"  >
                          <p>1.	Step A: VTA receives 10% of Student Permit fees after study permit is approved by IRCC.</p>
                          <p>2.	2.	Step B: JM Immigration: 1) CAD $ 250 wire transfer to start the process 2) CAD $ 1,500 for Student Permit.</p>

          </div>
          <br>

          <header class="special">

                          <h2 class="text-center">Retainer Agreement</h2><br><br>
<!--							<p>Premium Aluminium Windows</p>-->
          </header>
          <div class="content"  >
                          <p>1.	Student requires to sign the Retainer Agreement.</p>

          </div>
          <br>

          <header class="special">

                          <h2 class="text-center">College Commission</h2><br><br>
<!--							<p>Premium Aluminium Windows</p>-->
          </header>
          <div class="content"  >
                          <p>1.	Commission that is received from the college is 50% for VTA and 50% for JM Immigration.</p>
                          <p>2.	Commission is received once student starts the semester in college and does not drop out or change college after arrival in Canada.</p>
                          <p>3.	If the student changes college during the first year, no commission from college.</p>

          </div>

        </section>
    </div>

  </section><!-- End Services Section -->




<section>

  <div id="intro">
      <div class="container" data-aos="zoom-in">
        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">INITIAL TAKE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">COLLEGE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">COMMISSION STRUCTURE</a>
              </li>


            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Diploma</h3>
                    <p>Two year Diploma Program in any College:</p>
                    <p class="font-italic"> <i class="icofont-check-circled"></i> No scholarship, No PhD, No Master's will be counted</p>
                    <p class="font-italic"> <i class="icofont-check-circled"></i> intakes will be allowed in September, January and May </p>

                    <p>If someone interested they can go further for details.</p>
                  </div>
                  <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/sunsweet.jpeg" alt="" class="img-fluid">
                  </div> -->
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Time Frames</h3>
                    <p class="font-italic"><i class="icofont-check-circled"></i> 3 -6 months for processing </p>
                    <p class="font-italic"><i class="icofont-check-circled"></i> 2 – 3 months for letter of acceptance</p>
                    <p class="font-italic"><i class="icofont-check-circled"></i> 1 – 2 months for study permit</p>

                    <p></p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/suntop.jpeg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Eligble For</h3>

                    <ul class="font-italic" list-style="none">
                      <li>	3 years of Post Graduate Work Permit </li>
                      <li>	Create profile in Express Entry, Canadian Experience Class after one-year Canadian work experience</li>
                      <li>	Based on the comprehensive ranking score (CRS) eligible to receive an invitation to apply (ITA) for permanent residence (PR)</li>
                      <li>	Submit application for PR</li>

                    </ul>

                    <p></p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/Priyaoils.jpeg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div id="eligibility">
      <div class="container" data-aos="zoom-in">
    <p>2Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

  <div id="process">
      <div class="container" data-aos="zoom-in">
        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">DIPLOMA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">TIME FRAME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">ELIGIBLE FOR</a>
              </li>

            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Diploma</h3>
                    <p>Two year Diploma Program in any College:</p>
                    <p class="font-italic"> <i class="icofont-check-circled"></i> No scholarship, No PhD, No Master's will be counted</p>
                    <p class="font-italic"> <i class="icofont-check-circled"></i> intakes will be allowed in September, January and May </p>

                    <p>If someone interested they can go further for details.</p>
                  </div>
                  <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/sunsweet.jpeg" alt="" class="img-fluid">
                  </div> -->
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Time Frames</h3>
                    <p class="font-italic"><i class="icofont-check-circled"></i> 3 -6 months for processing </p>
                    <p class="font-italic"><i class="icofont-check-circled"></i> 2 – 3 months for letter of acceptance</p>
                    <p class="font-italic"><i class="icofont-check-circled"></i> 1 – 2 months for study permit</p>

                    <p></p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/suntop.jpeg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Eligble For</h3>

                    <ul class="font-italic" list-style="none">
                      <li>	3 years of Post Graduate Work Permit </li>
                      <li>	Create profile in Express Entry, Canadian Experience Class after one-year Canadian work experience</li>
                      <li>	Based on the comprehensive ranking score (CRS) eligible to receive an invitation to apply (ITA) for permanent residence (PR)</li>
                      <li>	Submit application for PR</li>

                    </ul>

                    <p></p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/Priyaoils.jpeg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
          </div>
        </div>

      </div>
      </div>
  </div>

</section>



</main>
{% endblock %}
