{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center" style="background-image:url('https://www.tripsavvy.com/thmb/0QgcJbDM3ZBMg470CWEWa2Tq1Jc=/1500x925/filters:fill(auto,1)/GettyImages-748610951-5bd70c0b46e0fb0051d0afcb.jpg')">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1>Welcome to Canada</h1>
      <h2>We are a team of Immigration lawyers</h2>
      <a href="https://onlineservices-servicesenligne.cic.gc.ca/c2c/eapp.do" class="btn-get-started scrollto">Entry for Eligibility</a>
    </div>
  </section>
  <main id="main">



    <!-- ======= Clients Section ======= -->
    <!-- <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="row d-flex align-items-center">

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'assets/img/clients/client-1.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'assets/img/clients/client-2.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'assets/img/clients/client-3.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'assets/img/clients/client-4.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'assets/img/clients/client-5.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'assets/img/clients/client-6.png' %}" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->


    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Immigration Services</h3>
          <p> All the services provided to be added soon !</p>
          <a class="cta-btn" href="#">Know more</a>
        </div>

      </div>
    </section><!-- End Cta Section -->



  </main><!-- End #main -->


</body>


{% endblock %}
