{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<main id="main">


  <section id="pricing" class="pricing">
    <div class="container">

      <div class="section-title">
          <span style="color: black">STUDENT VISA</span>

      </div>
      <p class="text-center">2 Year Diploma Program For International Students</p>

          <br><br><br>
      <div id="content" class="row fadeIn animated odd-about-card">

      <div class="col-md-6">

        <img src="https://images.unsplash.com/photo-1541339907198-e08756dedf3f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="" class="img-responsive">


      </div>

      <div id="our-mission" class="col-md-6">

        <h2 class="title-style-2">Details available on the below link:<span class="title-under"></span></h2><br>
        <ul class="text-left" type="disc">
          <li>About the process,</li><br>
          <li>Who can apply,</li><br>
          <li>Get the right documents,</li><br>
          <li>How to apply,</li><br>
          <li>After you apply,</li><br>
          <li>Prepare for arrival.</li><br>

        </ul>
        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada/study-permit/get-documents.html"
        class="btn-get-started">Get Started</a>

      </div>

</div>
<br>

        <!-- <div id="pad" class="container2 style1">

        <a style="font-size: 20px" href="https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada/study-permit/get-documents.html"><u>documents you need before you apply for a study permit</u></a>
          <p>Use this link below to get the info</p><br>

          <ul class="text-left">
            <p> 1. About the process,</p>
            <p> 2. Who can apply,</p>
            <p> 3. Get the right documents,</p>
            <p> 4. How to apply,</p>
            <p> 5. After you apply,</p>
            <p> 6. Prepare for arrival.</p>
          </ul>



      </div> -->



      <div class="row">

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="150">
          <div class="box">
            <i style="color: #CC1616" class="fas fa-door-open fa-5x"></i><br><br>
            <h2>INTAKE</h2>
            <p>We intake students in following <br> months only:</p>
            <ul class="text-left">
              <li>September</li>
              <li>January</li>
              <li>May</li>
              <!-- <li class="na">Pharetra massa</li>
              <li class="na">Massa ultricies mi</li> -->
            </ul>
            <br>
            <br>

            <!-- <div class="btn-wrap">
              <a href="#" class="btn-buy">Read More</a>
            </div> -->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="zoom-in">
          <div class="box featured">
            <i style="color: white;" class="fas fa-clock fa-5x"></i><br><br>
            <h2>TIME FRAME</h2>
            <p>Time frames for processing:</p>
            <ul>
              <li>•	3 -6 months for processing</li>
              <li>•	2 – 3 months for letter of acceptance</li>
              <li>•	1 – 2 months for study permit</li>
              <!-- <li>Pharetra massa</li>
              <li class="na">Massa ultricies mi</li> -->
            </ul>
            <br><br><br>
            <!-- <div class="btn-wrap">
              <a href="#" class="btn-buy">Read More</a>
            </div> -->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
          <div class="box">
            <i style="color: #CC1616" class="fas fa-clipboard-check fa-5x"></i><br><br>
            <h2>ELIGIBLE FOR</h2>

            <ul>
              <li>•	3 years of Post Graduate Work Permit </li>
              <li>•	Create profile in Express Entry, Canadian Experience Class after one-year Canadian work experience</li>
              <li>•	Based on the comprehensive ranking score (CRS) eligible to receive an invitation to apply (ITA) for permanent residence (PR)</li>
              <li>•	Submit application for PR</li>

            </ul>
            <!-- <div class="btn-wrap">
              <a href="#" class="btn-buy">Read More</a>
            </div> -->
          </div>
        </div>

      </div>
      <br><br>


      <div class="row-family">

        <!--Grid column-->
        <div class="col-md-12 mb-4">

          <!-- Card -->
          <div class="card gradient-card">

            <div class="card-image" style="background: #0f0c29;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            ">

                <!-- Content -->
                  <div class="text-white d-flex h-100 mask blue-gradient-rgba" align-content="center">
                    <div class="first-content align-self-center p-3" >
                      <h3 class="card-title">STUDENT PROCESSING CRITERIA</h3>
                      <!-- <p class="lead mb-0">Click on this card to see details</p> -->
                    </div>
                    <!-- <div class="second-content align-self-center mx-auto text-center">
                      <i class="far fa-money-bill-alt fa-3x"></i>
                    </div> -->
                  </div>

              </div>

              <div class="card-body white">
                <!-- <div class="progress md-progress">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="text-muted">Better than last week (25%)</p> -->
                <h4 class="text-uppercase font-weight-bold my-4" align="center">Initial Intake</h4>
                <div class="content">
                                <p> 1.	Two-year diploma program.</p>
                                <p> 2.	Forward all required documentation: Resume, passport copy, high school certificate, grade 10/12, marks above 60 or 70, etc.</p>
                                <p> 3.	IELTS academic – 6.0 in listening, reading, writing, speaking.</p>
                                <p> 4.	Proof of funds.</p>

                                <p>
                                  <i class="fas fa-hand-point-right"></i>

                                  <strong>No scholarship, No PhD, No Master’s.</strong></p>

                </div>
                <h4 class="text-uppercase font-weight-bold my-4" align="center">Fees</h4>
                <p><i class="fas fa-hand-point-right"></i>
                  Towards communications: VisaTocanada (VTC) provides student’s profile for assessment.
                  JM Immigration assesses student’s profiles, college search, completion of application forms, submission to college, communication with college</p>
                <p>1.	CAD $250 (at the start of process, non-refundable).</p>
                <p>2.	College application fees varies between colleges: CAD $100 to 150, paid by student.</p>
                <p>3.	College acceptance depends on the number of students.</p>



                <h4 class="text-uppercase font-weight-bold my-4" align="center">College or University</h4>
                <p><i class="fas fa-hand-point-right"></i> JM Immigration will recommend one institution.</p>

              <br>

                <h4 class="text-uppercase font-weight-bold my-4" align="center">Time Frame</h4>
                <p>1.	From the time student documents received: <b>2 to 4 months for Letter of Acceptance (LOA).</b></p>
                <p>2.	Student is kept updated when we receive communication from college.</p>
                <p>3.	<b>5 months</b> ideal time for processing. </p>
                <p>4.	Time required for processing Study Permit application from IRCC.</p>

                <h4 class="text-uppercase font-weight-bold my-4" align="center">Student Permit fees</h4>
                <p>1.	CAD $1,500 – Our professional fees for preparing application submission to IRCC.</p>
                <p>2.	Student Permit fees from IRCC – CAD $ 150.00, student pays, provides us with Credit Card details for processing.</p>

                <h4 class="text-uppercase font-weight-bold my-4" align="center">Commission structure</h4>
                <p>1.	Step A: VTC receives 10% of Student Permit fees after study permit is approved by IRCC.</p>
                <p>2.	Step B: JM Immigration: <br>a) CAD $ 250 wire transfer to start the process <br>b) CAD $ 1,500 for Student Permit.</p>

                <h4 class="text-uppercase font-weight-bold my-4" align="center">Retainer Agreement</h4>
                <p>1.	Student requires to sign the Retainer Agreement.</p>


                <h4 class="text-uppercase font-weight-bold my-4" align="center">College Commission</h4>
                <p>1.	Commission that is received from the college is <b> 50% for VTC</b> and <b>50% for JM Immigration</b>.</p>
                <p>2.	Commission is received <b>once</b> student starts the semester in college and does not drop out or change college after arrival in Canada.</p>
                <p>3.	If the student changes college during the first year, no commission from college.</p>



              </div>

          </div>

      </div>
      <!-- Card -->

    </div>

</section>

</main>
{% endblock %}
